.header {
    padding: 96px 0 77px;
    background-color: var(--white);
}

.header__title {
    /* Reusable component library */
/* h1 */
    font-family: 'Inter', serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: #212429;

}