/* Стилизация кнопки */

.button_primary {
    height: 48px;
    background-color: var(--blue-2);
    color: var(--white);
    border-radius: 8px;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    padding: 15px 63px;
    font-family: 'Roboto', serif;
    font-size: 16px;
    line-height: 18.75px;

}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button_primary:enabled:hover {
    background-color: var(--dark-blue);
    cursor: pointer;
}

.button_secondary {
    background-color: var(--purple);
}

.button_secondary:enabled:hover {
    background-color: var(--purple-2);
);
}

.button_alternative {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--grey-3);
    transition: border-width 100ms ease-in-out;
}

.button_alternative:enabled:hover {
    background-color: var(--white);
    opacity: 1;
    color: var(--black);
    border-color: var(--black);
}