/* Стилизация кнопки */

.button__primary {
    height: 48px;
    background-color: var(--blue-2);
    color: white;
    border-radius: 8px;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    padding: 15px 63px;
    font-family: 'Roboto', serif;
    font-size: 16px;
    line-height: 18.75px;

}

.button__primary:disabled {
    opacity: 0.5;
    pointer-events: none
}

.button__primary:enabled:hover {
    background-color: var(--dark-blue);
    cursor: pointer;
}

.button__secondary {
    background-color: var(--purple);
}

.button__secondary:enabled:hover {
    background-color: #5028C6;
);
}

.button__alternative {
    background-color: white;
    color: black;
    border: 1px solid grey;
    transition: border-width 100ms ease-in-out;
}

.button__alternative:enabled:hover {
    background-color: white;
    opacity: 1;
    color: black;
    border-color: black;
}