body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.square {
    height: 300px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square__img {
    height: 100%;
    width: 100%;
}