.footer__title {
    font-family: 'Inter', serif;
    font-size: 38px;
    line-height: 48px;
    font-weight: 500;
    text-align: center;
    padding: 72px 0 32px;
}

.footer__text {
    font-family: 'Inter', serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}
