.background {
    height: 3000px;
    background-image: url('./public/forest_400.jpg');
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .background {
        background-image: url('./public/forest_768.jpg');

    }
}

@media (min-width: 1024px) {
    .background {
        background-image: url('./public/forest_1024.jpg');

    }
}

@media (min-width: 2560px) {
    .background {
        background-image: url('./public/forest_2560.jpg');

    }
}